html{
	width: 100vw;
	height: 100vh;
	margin-bottom: 0 auto;
}

body{
	background-color: black;
}

.b{
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 24px;
  color: white;
}

h1{
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 60px;
  color:  #FFD700;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.b:hover{
	color: #90EE90;
	background-color:  #FFD700;
}

.back{
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 24px;
  color: lime;

}